<section class="about-me-section">
  <div class="about-me-container container">
    <h2 class="about-me-header">
      About <span class="about-me-accent">Me</span>
    </h2>
    <div class="about-me-wrapper">
      <div class="left-bg-container">
        <img
          class="about-me-img"
          srcset="/img/about-me/aboutMe.png 1x, /img/about-me/aboutMe@2x.png 2x"
          src="/img/about-me/aboutMe.png"
          width="343"
          alt="illustration"
        />
      </div>
      <div class="right-info-container">
        <h2 class="about-me-header-desc">
          About <span class="about-me-accent">Me</span>
        </h2>
        <p class="about-me-text">
          I'm a passionate and growth-oriented Frontend Developer with hands-on
          experience gained through an intensive one-year IT course, where I
          built responsive, user-friendly web interfaces and full-fledged
          website sections.
        </p>

        <p class="about-me-text">
          I specialize in HTML5, CSS3, JavaScript, React, and Next.js,
          leveraging these technologies to build modern, functional web
          solutions with a focus on performance and accessibility.
        </p>

        <p class="about-me-text">
          I thrive on turning ideas into clean, efficient, and adaptive designs,
          always adhering to best practices and learning from feedback to refine
          my skills.
        </p>

        <p class="about-me-text">
          I'm excited to join a collaborative, product-focused team where I can
          make an impact and continue developing as a frontend developer.
        </p>
      </div>
    </div>
  </div>
</section>
