<header class="header">
  <div class="header-container container">
    <nav class="header-nav-logo">
      <a class="header-logo" href="../index.html"
        ><svg
          class="header-logo-icon"
          width="40"
          height="40"
          viewBox="0 0 32 32"
        >
          <path
            d="M25.224 11.369a9.261 9.261 0 0 1-5.4 8.419A6.061 6.061 0 0 0 16.09 9.057c-.044-.003-.084-.003-.127-.003s-.084 0-.127.003a2.315 2.315 0 0 0-2.188 2.312v11.576a6.947 6.947 0 0 1-6.946 6.946V11.369a9.262 9.262 0 0 1 18.522 0z"
          />
          <path
            d="M17.599 13.007a2.315 2.315 0 1 0-3.274-3.274 2.315 2.315 0 0 0 3.274 3.274z"
          />
        </svg>
        <p class="logo-text">VM</p>
      </a>
    </nav>
    <ul class="header-nav-list visually-hidden">
      <li class="link header-nav-item"><a href="#skills">Skills</a></li>
      <li class="link header-nav-item"><a href="#projects">My projects</a></li>
      <li class="link header-nav-item"><a href="#about-me">About me</a></li>
      <li class="link header-nav-item"><a href="#contact-me">Contact me</a></li>
      <li class="link header-nav-item resume-link">
        <a
          href="/portfolio/Valeriia_Mazhytova_Frontend_Developer.pdf"
          download="Valeriia_Mazhytova_Resume.pdf"
          class="download-btn"
          >Resume
          <svg
            class="nav-icon-download"
            width="25"
            height="25"
            viewBox="0 0 32 32"
          >
            <path
              d="M7.5 20a1 1 0 0 0-2 0h2zm-1 1.333zM25.7 20a1 1 0 0 0-2 0h2zm-10.889.718a1 1 0 0 0 1.577 1.231l-1.577-1.23zm6.778-5.436a1 1 0 0 0-1.577-1.231l1.577 1.23zm-6.778 6.666a1 1 0 0 0 1.577-1.231l-1.577 1.23zm-3.623-7.896a1 1 0 0 0-1.577 1.231l1.577-1.23zm3.412 7.281a1 1 0 0 0 2 0h-2zm2-14.666a1 1 0 0 0-2 0h2zM5.5 20v1.333h2V20h-2zm0 1.333c0 2.737 2.17 5 4.9 5v-2c-1.578 0-2.9-1.319-2.9-3h-2zm4.9 5h10.4v-2H10.4v2zm10.4 0c2.73 0 4.9-2.263 4.9-5h-2c0 1.681-1.322 3-2.9 3v2zm4.9-5V20h-2v1.333h2zm-9.311.615 5.2-6.667-1.577-1.23-5.2 6.667 1.577 1.23zm0-1.23-5.2-6.667-1.577 1.23 5.2 6.667 1.577-1.23zm.211.615V6.666h-2v14.667h2z"
            />
          </svg>
        </a>
      </li>
    </ul>

    <button type="button" class="mobile-menu-open-btn" aria-label="Toggle menu">
      <svg
        class="mobile-menu-open-icon"
        width="36"
        height="36"
        viewBox="0 0 32 32"
      >
        <path
          d="M1.333 14.667h29.333v2.667H1.333v-2.667zM1.333 6.667h29.333v2.667H1.333V6.667zM1.333 22.667h29.333v2.667H1.333v-2.667z"
        />
      </svg>
    </button>
  </div>
  <!-- mob menu-->
  <div class="mobile-menu">
    <div class="mobile-menu-container container">
      <button class="mobile-menu-close-btn" type="button">
        <svg class="mobile-menu-close-icon" width="36" height="36">
          <path
            d="M1.333 14.667h29.333v2.667H1.333v-2.667zM1.333 6.667h29.333v2.667H1.333V6.667zM1.333 22.667h29.333v2.667H1.333v-2.667z"
          />
        </svg>
      </button>
      <div class="mobile-menu-wrapper">
        <div class="mobile-menu-nav-wrapper">
          <ul class="mobile-nav-list">
            <li class="mobile-nav-list-item">
              <a class="mobile-nav-list-item-link" href="#intro">Intro</a>
            </li>
            <li class="mobile-nav-list-item">
              <a class="mobile-nav-list-item-link" href="#skills">Skills</a>
            </li>
            <li class="mobile-nav-list-item">
              <a class="mobile-nav-list-item-link" href="#projects"
                >My projects</a
              >
            </li>
            <li class="mobile-nav-list-item">
              <a class="mobile-nav-list-item-link" href="#about-me">About me</a>
            </li>
            <li class="mobile-nav-list-item">
              <a class="mobile-nav-list-item-link" href="#contact-me"
                >Contact me</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
