<section class="hero-section" id="intro">
  <div class="hero-container container">
    <div class="hero-headers-wrapper">
      <h1 class="hero-main-header">
        Hello! I am <span class="name-span">Valeriia</span>.
      </h1>
      <h2 class="hero-desc-header">
        I am a results-oriented Frontend Developer with a strong foundation in
        modern web technologies: HTML, CSS, JavaScript, React, TypeScript, and
        Next.js. Completed training and developed several projects demonstrating
        skills in component-based development, routing, state management, API
        integration, and responsive design. A fast learner, detail-oriented, and
        motivated to apply knowledge to real-world projects while continuously
        growing as a developer.
      </h2>
      <div class="hero-links-wrap">
        <a
          href="https://github.com/ValeryMaz"
          class="git-btn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="git-icon" width="50" height="50">
            <use href="../img/sprite/sprite.svg#icon-github-svgrepo-com"></use>
          </svg>
        </a>
        <a
          href="https://www.linkedin.com/in/valeriia-mazhytova/"
          class="linkedin-btn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="linkeding-icon" width="50" height="50">
            <use
              href="../img/sprite/sprite.svg#icon-linkedin-1-svgrepo-com"
            ></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero-img-wrap"></div>
  </div>
</section>
