<section class="projects-section">
  <div class="projects-container container">
    <h2 class="projects-header">
      My <span class="projects-span">Projects</span>
    </h2>
    <div class="swiper swiper-projects">
      <!--SWIPER PROJECTS-->
      <!--LEFT-->
      <ul class="swiper-wrapper swiper-wrapper-js">
        <li class="swiper-slide projects-one-container">
          <div class="container-projects-left">
            <img
              class="projects-img"
              srcset="
                /img/projectsPrev/project2.jpg    1x,
                /img/projectsPrev/project2-2x.jpg 2x
              "
              src="/img/projectsPrev/project2.jpg"
              width="343"
              alt="Preview of the first project"
            />
            <!--RIGHT-->
          </div>
          <div class="container-projects-right">
            <div class="projects-text-right">
              <h2 class="projects-text-content-right">01</h2>
              <h3 class="projects-header-right">CodeNomands</h3>
              <p class="projects-desc-right">
                <span class="projects-desc-span">Tech Stack:</span> HTML, CSS,
                JavaScript, Swiper; <br />
                <span class="projects-desc-span">Role:</span> Frontend Developer
                (team project - projects section);
                <br />
                <span class="projects-desc-span">Description:</span> A
                responsive personal portfolio landing page featuring Swiper
                sliders, smooth JavaScript animations, and adaptive design,
                structured navigation and CSS styling for a polished user
                experience.
              </p>
              <a
                href="https://github.com/Mikhael-Yakymets/project-CodeNomads"
                target="_blank"
                class="projects-btn"
                rel="noopener noreferrer nofollow"
              >
                See project
                <svg
                  class="swiper-seeproject-icon"
                  width="20"
                  height="20"
                  viewBox="0 0 32 32"
                >
                  <path
                    d="M18.667 6.667a1.333 1.333 0 0 1 0-2.666h8c.736 0 1.333.597 1.333 1.333v8a1.333 1.333 0 0 1-2.666 0V8.553l-9.724 9.724a1.333 1.333 0 1 1-1.886-1.886l9.724-9.724h-4.781zm-12 2.666c-.736 0-1.333.597-1.333 1.333v14.667c0 .736.597 1.333 1.333 1.333h14.667c.736 0 1.333-.597 1.333-1.333V19.25a1.333 1.333 0 0 1 2.666 0v6.083a4 4 0 0 1-4 4H6.666a4 4 0 0 1-4-4V10.666a4 4 0 0 1 4-4h6.083a1.333 1.333 0 0 1 0 2.666H6.666z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide projects-two-container">
          <div class="container-projects-left">
            <img
              class="projects-img"
              srcset="
                /img/projectsPrev/project1.jpg    1x,
                /img/projectsPrev/project1-2x.jpg 2x
              "
              src="/img/projectsPrev/project1.jpg"
              width="343"
              alt="Preview of the first project"
            />
          </div>
          <div class="container-projects-right">
            <div class="projects-text-right">
              <h2 class="projects-text-content-right">02</h2>
              <h3 class="projects-header-right">NoteHub</h3>
              <p class="projects-desc-right">
                <span class="projects-desc-span">Tech Stack:</span> HTML, CSS,
                JavaScript, React, Next.js, Zustand, TypeScript, Axios, TanStack
                Query; <br />
                <span class="projects-desc-span">Role:</span> Frontend Developer
                (individual);
                <br />
                <span class="projects-desc-span">Description:</span> A
                full-featured notes application built with Next.js, featuring
                nested, parallel, and dynamic routes. Implemented user
                authentication with protected backend routes, token-based access
                stored in cookies. Added dynamic meta tags for SEO and managed
                state with Zustand.
              </p>
              <a
                href="https://github.com/Mikhael-Yakymets/project-CodeNomads"
                target="_blank"
                class="projects-btn"
                rel="noopener noreferrer nofollow"
              >
                See project
                <svg
                  class="swiper-seeproject-icon"
                  width="20"
                  height="20"
                  viewBox="0 0 32 32"
                >
                  <path
                    d="M18.667 6.667a1.333 1.333 0 0 1 0-2.666h8c.736 0 1.333.597 1.333 1.333v8a1.333 1.333 0 0 1-2.666 0V8.553l-9.724 9.724a1.333 1.333 0 1 1-1.886-1.886l9.724-9.724h-4.781zm-12 2.666c-.736 0-1.333.597-1.333 1.333v14.667c0 .736.597 1.333 1.333 1.333h14.667c.736 0 1.333-.597 1.333-1.333V19.25a1.333 1.333 0 0 1 2.666 0v6.083a4 4 0 0 1-4 4H6.666a4 4 0 0 1-4-4V10.666a4 4 0 0 1 4-4h6.083a1.333 1.333 0 0 1 0 2.666H6.666z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </li>
        <!-- insert third card -->
        <li class="swiper-slide projects-three-container">
          <div class="container-projects-left">
            <img
              class="projects-img"
              srcset="
                /img/projectsPrev/project3.jpg    1x,
                /img/projectsPrev/project3-2x.jpg 2x
              "
              src="/img/projectsPrev/project3.jpg"
              width="343"
              alt="Preview of the first project"
            />
          </div>
          <div class="container-projects-right">
            <div class="projects-text-right">
              <h2 class="projects-text-content-right">03</h2>
              <h3 class="projects-header-right">GreenHarvest</h3>
              <p class="projects-desc-right">
                <span class="projects-desc-span">Tech Stack:</span> HTML, CSS;
                <br />
                <span class="projects-desc-span">Role:</span> Frontend Developer
                (team project - organic vegetables section);
                <br />
                <span class="projects-desc-span">Description:</span> A
                responsive HTML and CSS showcase with adaptive design for
                mobile, tablet , and desktop.
              </p>
              <a
                href="https://github.com/Mikhael-Yakymets/project-CodeNomads"
                target="_blank"
                class="projects-btn"
                rel="noopener noreferrer nofollow"
              >
                See project
                <svg
                  class="swiper-seeproject-icon"
                  width="20"
                  height="20"
                  viewBox="0 0 32 32"
                >
                  <path
                    d="M18.667 6.667a1.333 1.333 0 0 1 0-2.666h8c.736 0 1.333.597 1.333 1.333v8a1.333 1.333 0 0 1-2.666 0V8.553l-9.724 9.724a1.333 1.333 0 1 1-1.886-1.886l9.724-9.724h-4.781zm-12 2.666c-.736 0-1.333.597-1.333 1.333v14.667c0 .736.597 1.333 1.333 1.333h14.667c.736 0 1.333-.597 1.333-1.333V19.25a1.333 1.333 0 0 1 2.666 0v6.083a4 4 0 0 1-4 4H6.666a4 4 0 0 1-4-4V10.666a4 4 0 0 1 4-4h6.083a1.333 1.333 0 0 1 0 2.666H6.666z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide projects-four-container">
          <div class="container-projects-left">
            <img
              class="projects-img"
              srcset="
                /img/projectsPrev/project4.jpg    1x,
                /img/projectsPrev/project4-2x.jpg 2x
              "
              src="/img/projectsPrev/project4.jpg"
              width="343"
              alt="Preview of the first project"
            />
          </div>
          <div class="container-projects-right">
            <div class="projects-text-right">
              <h2 class="projects-text-content-right">04</h2>
              <h3 class="projects-header-right">WebStudio</h3>
              <p class="projects-desc-right">
                <span class="projects-desc-span">Tech Stack:</span> HTML, CSS;
                <br />
                <span class="projects-desc-span">Role:</span> Frontend Developer
                (individual);
                <br />
                <span class="projects-desc-span">Description:</span> A
                responsive HTML and CSS showcase with adaptive design for
                mobile, tablet , and desktop.
              </p>
              <a
                href="https://github.com/Mikhael-Yakymets/project-CodeNomads"
                target="_blank"
                class="projects-btn"
                rel="noopener noreferrer nofollow"
              >
                See project
                <svg
                  class="swiper-seeproject-icon"
                  width="20"
                  height="20"
                  viewBox="0 0 32 32"
                >
                  <path
                    d="M18.667 6.667a1.333 1.333 0 0 1 0-2.666h8c.736 0 1.333.597 1.333 1.333v8a1.333 1.333 0 0 1-2.666 0V8.553l-9.724 9.724a1.333 1.333 0 1 1-1.886-1.886l9.724-9.724h-4.781zm-12 2.666c-.736 0-1.333.597-1.333 1.333v14.667c0 .736.597 1.333 1.333 1.333h14.667c.736 0 1.333-.597 1.333-1.333V19.25a1.333 1.333 0 0 1 2.666 0v6.083a4 4 0 0 1-4 4H6.666a4 4 0 0 1-4-4V10.666a4 4 0 0 1 4-4h6.083a1.333 1.333 0 0 1 0 2.666H6.666z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </li>
      </ul>
      <div class="slider-icon-container">
        <button
          class="btn-arrow prev-button-js-prj base-button-style"
          aria-label="Previous slide"
        >
          <svg
            class="swiper-left-arrow"
            width="25"
            height="24"
            viewBox="0 0 32 32"
          >
            <path
              fill="#fff"
              style="fill: var(--color1, #fff)"
              d="M15.609 5.724a1.333 1.333 0 0 1 0 1.886l-7.057 7.057h18.114a1.333 1.333 0 0 1 0 2.666H8.552l7.057 7.057a1.333 1.333 0 1 1-1.886 1.886L4.39 16.943a1.334 1.334 0 0 1 0-1.886l9.333-9.333a1.333 1.333 0 0 1 1.886 0z"
            />
          </svg>
        </button>
        <button
          class="btn-arrow next-button-js-prj base-button-style"
          aria-label="Next slide"
        >
          <svg
            class="swiper-right-arrow"
            width="25"
            height="24"
            viewBox="0 0 32 32"
          >
            <path
              fill="#fff"
              style="fill: var(--color1, #fff)"
              d="M16.391 5.724a1.333 1.333 0 0 1 1.886 0l9.333 9.333a1.333 1.333 0 0 1 0 1.886l-9.333 9.333a1.333 1.333 0 1 1-1.886-1.886l7.057-7.057H5.334a1.333 1.333 0 0 1 0-2.666h18.114L16.391 7.61a1.333 1.333 0 0 1 0-1.886z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
