<section class="skills-section" id="skills">
  <div class="skills-container container">
    <h2 class="skills-header">My <span class="skills-span">Skills</span></h2>
    <div class="skills-icons-container>">
      <ul class="icons-skills-list">
        <li class="skills-icon-item">
          <svg class="skills-icon" width="56" height="56">
            <use href="/img/sprite.svg#icon-html5-01-svgrepo-com"></use>
          </svg>
          <p class="skills-item-text">HTML5</p>
        </li>
        <li class="skills-icon-item">
          <svg class="skills-icon" width="56" height="56">
            <use href="/img/sprite.svg#icon-css3-01-svgrepo-com"></use>
          </svg>
          <p class="skills-item-text">CSS3</p>
        </li>
        <li class="skills-icon-item">
          <svg class="skills-icon" width="56" height="56">
            <use href="/img/sprite.svg#icon-js-svgrepo-com"></use>
          </svg>
          <p class="skills-item-text">JavaScript</p>
        </li>
        <li class="skills-icon-item">
          <svg class="skills-icon" width="56" height="56">
            <use href="/img/sprite.svg#icon-react-svgrepo-com"></use>
          </svg>
          <p class="skills-item-text">React</p>
        </li>
        <li class="skills-icon-item">
          <svg class="skills-icon" width="56" height="56">
            <use href="/img/sprite.svg#icon-next-dot-js-svgrepo-com"></use>
          </svg>
          <p class="skills-item-text">Next.js</p>
        </li>
        <li class="skills-icon-item">
          <svg class="skills-icon" width="56" height="56">
            <use
              href="/img//sprite.svg#icon-typescript-official-svgrepo-com"
            ></use>
          </svg>
          <p class="skills-item-text">TypeScript</p>
        </li>
        <li class="skills-icon-item">
          <svg class="skills-icon" width="56" height="56">
            <use href="/img/sprite.svg#icon-github-svgrepo-com"></use>
          </svg>
          <p class="skills-item-text">GitHub</p>
        </li>
        <li class="skills-icon-item">
          <svg class="skills-icon" width="56" height="56">
            <use href="/img/sprite.svg#icon-figma-svgrepo-com"></use>
          </svg>
          <p class="skills-item-text">Figma</p>
        </li>
      </ul>
    </div>
  </div>
</section>
