#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  outline: none;
  background-color: transparent;
  border: 1.5px solid #5e5e67;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
  font-size: 10px;
  transition: box-shadow 0.3s ease;
}

.back-to-top-icon path {
  fill: #5e5e67;
}
#myBtn:hover {
  box-shadow: 0 0 10px 5px rgba(113, 113, 122, 0.4);
}

@media only screen and (min-width: 768px) {
  #myBtn {
    bottom: 70px;
    right: 30px;
    padding: 15px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  #myBtn {
    bottom: 95px;
    padding: 15px;
    font-size: 18px;
  }
}
